---
import Layout from '../layouts/About.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 17 2023')}
	heroImage="/about.png"
>
	<p>
		Hi there! I'm Sir Berg from Germany. I am a passionate Computer Enthusiast, Programming Noob and Gamer.
		I'm a Cisco Certified Network Associate and a Officially certified System Integrator.
		I am currently trying to learn Japanese (trying is the most important word in that sentence) and I am trying to
		learn Rust.
	</p>
	<p>
		Some of my favorite Games are Destiny 2, Satisfactory, Minecraft and OneShot.
	</p>
</Layout>
