---
import Layout from '../layouts/About.astro';
---
<Layout
        title="Privacy Policy"
        description="TLDR: No Data is collected"
        pubDate={new Date('August 17 2023')}
        heroImage="/privacy.png"
>
    <p>
        In Short: I am using Google Analytics to collect some insights. This means that google gets your data to collect/store and compute. You can block this by using U-Block origin.
    </p>
    <p>
        However: As I'm hosting this Website with Cloudflare, they might intercept and analyse traffic, this is beyond my influence and the only way that Data is being collected / stored.
        This might include things like your IP Address, your Browser Fingerprint, etc. If you are concerned about that, use a VPN and a non-fingerprinted Browser.
    </p>
</Layout>